.auth-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 30%;
    box-shadow: 0px 0px 14px -6px black;
    padding: 0px 48px 29px;
    border-radius: 10px;
    background-color: #ababab;
    color: white;
    font-weight: 500;
}
.login-header{
    background: #ffc900;
    font-size: 22px;
    font-weight: 500;
    color: white;
    border-radius: 0 0 10px 10px;

}
.login-header div{
    padding: 12px 0;
}