/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

.kds-card-sub-container{

    overflow-y: scroll;
}
::-webkit-scrollbar{
    background: dimgrey;
    border-radius: 16px;
    width: 8px;
}
::-webkit-scrollbar-track{
    background: rgb(211, 211, 211);
    border-radius: 16px;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #888888;
    border-radius: 16px;
    width: 8px;
}

.p-btn {
    background-color: #df1c1c;;
    border: none;
    color: #fff;
    border-radius: 3px;
  }
  
  .p-btn:hover {
    background-color: #c01818;
  }
.modal-header{
    display: flex;
    justify-content: end;
    background-color: #f7f7f7;
    border-radius: 7px 7px 0px 0px;
    padding: 7px;
}
.kds-card-container > div{
    width: 49%;
    // min-width: 283px;
}
.kds-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.kds-card-body{
    padding: 10px;
    height: 93vh;
    overflow-y: auto;
}
.kds-card{

    // margin-bottom: 10px;
}
.section-card-heder{
    padding: 5px;
    background: #e3b900;
    color: white;
}
.section-card-heder h5{
    margin: 0;
}
table , span{
    font-size: 14px;
}
th, td {
    padding: 2px 7px !important;
}
.disabled{
    pointer-events: none;
    opacity: .4;  
}
.read-only{
    pointer-events: none;
    opacity: .4;
}
.hide{
    display: none;
}
.strike-through{
    text-decoration: line-through;
}

